.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.app-container > .navigation-container {
  display: none;
  width: 100%;
}

.app-container > .navbar-container {
  align-items: center;
  background: var(--primary-color);
  color: var(--color-white);
  display: flex;
  height: var(--navbar-height);
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.app-container > .navbar-container .menu-icon-container {
  align-items: center;
  display: flex;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  box-shadow: inset 0 0 2px var(--color-light-gray);
  cursor: pointer;
  justify-content: center;
  padding: 3px;
}

.app-container > .navbar-container .menu-icon-container:hover {
  border: 1px solid var(--color-light-gray);
  box-shadow: inset 0 0 2px var(--color-light-gray), 0 0 4px var(--color-white);
  color: var(--color-light-gray);
}

.app-container > .pages-container {
  height: 100vh;
  overflow: hidden auto;
  flex-grow: 1;
  padding-top: var(--navbar-height);
}

.notifications-bell-container {
  bottom: 20px;
  position: absolute;
  right: 30px;
  z-index: 1000;
}

@media (min-width: 960px) {
  .app-container {
    flex-direction: row;
  }

  .app-container > .navbar-container {
    display: none;
  }

  .app-container > .navigation-container {
    display: flex;
    width: 250px;
    min-width: 250px;
  }

  .app-container > .pages-container {
    padding-top: 0;
  }
}

@media (max-width: 959px) {
  .navigation-container.open {
    display: block;
    left: 0;
    position: absolute;
    top: var(--navbar-height);
    z-index: 1000;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.2);
    content: "";
    display: inline-block;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
  }
}
