* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0085fc;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #eeeeee;

  /* 14px */
  --font-size-base: 0.875rem;
  /* 12px */
  --font-size-xsm: 0.75rem;
  /* 16px */
  --font-size-sm: 1rem;
  /* 20px */
  --font-size-md: 1.25rem;
  /* 26px */
  --font-size-lg: 1.625rem;
  /* 30px */
  --font-size-xl: 1.875rem;
  /* 34px */
  --font-size-xxl: 2.125rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --screen-size-xs: 568px;
  --screen-size-sm: 768px;
  --screen-size-md: 992px;
  --screen-size-lg: 1200px;
  --screen-size-xl: 1600px;
  --screen-size-xxl: 1600px;

  /* Custom */
  --navbar-height: 65px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  font-weight: var(--font-weight-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.bg-login-image {
  background: url(https://cdn62.paninicloud.com/repository/Portugal/Collectibles/images/editoriali/003719APT_1.jpg);
  background-position: center;
  background-size: cover;
}

.d-lg-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.text-center {
  text-align: center !important;
}

.empty-message {
  color: #848484;
  width: 100%;
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.loading {
  border-radius: 50%;
  align-items: center;
  animation: spin 0.5s linear infinite;
  background: linear-gradient(90deg, rgba(204, 217, 255, 0.8) 75%, var(--primary-color) 100%);
  display: flex;
  height: 50px;
  justify-content: center;
  margin: auto;
  width: 50px;
}

.loading:after {
  content: "";
  background: white;
  border-radius: 50%;
  height: 100%;
  transform: scale(0.9);
  width: 100%;
}

.main-container {
  padding: 0 40px;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* UTILS */
.d-none {
  display: none !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.color-red {
  color: #ee4400;
}
